@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.options-page {
  width: 928px;
  height: calc(100vh - 132px);
  padding-right: 192px;
  overflow: hidden;
  &__calendar {
    width: 300px;
  }
  &__color-label {
    margin-top: 32px;
    @include textStyle(300, 14px, 16px, $black);
  }
  &__colors-container {
    margin-top: 16px;
  }
  &__label {
    margin-top: 32px;
    @include textStyle(300, 14px, 16px, $black);
  }
  &__rent {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__rate {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
    margin-bottom: -8px;
  }
  &__other {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
    margin-bottom: -8px;
  }
}

@media (max-width: $mobile-width) {
  .options-page {
    width: 100vw;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;

    &__colors-container {
      width: 100%;
    }
  }
}
