@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.navigator {
  display: flex;
  flex-direction: column;
  height: 32px;
  margin-top: 32px;

  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__link-container {
    display: flex;
  }

  &__link {
    display: flex;
    align-items: center;
    button {
      background: transparent;
      @include textStyle(700, 14px, 16px, $black);
    }
    img {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  &__link_active button {
    @include textStyle(700, 14px, 16px, $mainAccent);
  }

  &__link_disable button {
    pointer-events: none;
    @include textStyle(700, 14px, 16px, $gray);
  }
}
.top-line {
  position: fixed;
  top: 99px;
  left: 0;
  background-color: $grayLight;
  width: 100%;
  height: 1px;
}

.bottom-line {
  position: fixed;
  top: 131px;
  left: 0;
  background-color: $grayLight;
  width: 100%;
  height: 1px;
}

@media (max-width: $mobile-width) {
  .navigator {
    overflow-x: scroll;
    &__link-container {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .navigator::-webkit-scrollbar {
    display: none;
  }
  .navigator {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .top-line {
    position: relative;
    top: 0;
  }

  .bottom-line {
    position: relative;
    top: 0;
  }
}
