@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.navigator {
  display: flex;
  flex-direction: column;
  height: 32px;
  margin-top: 30px;
  background: $white;

  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__link-container {
    display: flex;
  }

  &__link {
    display: flex;
    align-items: center;
    button {
      background: transparent;
      @include textStyle(700, 14px, 16px, $black);
    }
    img {
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  &__link_active button {
    @include textStyle(700, 14px, 16px, $mainAccent);
  }

  &__link_disable button {
    pointer-events: none;
    @include textStyle(700, 14px, 16px, $gray);
  }
}

@media (max-width: $mobile-width) {
  .navigator {
    width: 100vw;
    margin-top: 25px;
    &__link-container {
      width: 100%;
      justify-content: space-between;
      padding-left: 16px;
      padding-right: 16px;
    }
    &__link {
      button {
        @include textStyle(700, 12px, 14px, $black);
      }
      img {
        margin-left: calc(((100vw - 316px) / 3) / 2);
        margin-right: 0px;
      }
    }

    &__link_active button {
      @include textStyle(700, 12px, 14px, $mainAccent);
    }

    &__link_disable button {
      pointer-events: none;
      @include textStyle(700, 12px, 14px, $gray);
    }
  }
  .navigator::-webkit-scrollbar {
    display: none;
  }
  .navigator {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
