@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.model-page {
  width: 928px;
  left: 0px;
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__name {
    @include textStyle(400, 18px, 21px, $black);
  }
  &__price {
    @include textStyle(400, 14px, 16px, $gray);
  }
  &__cards-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 48px;
    height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    max-width: 369px;
    min-width: 337px;
    width: 26.3571vw;
    max-height: 224px;
    height: 28vh;
    border: 1px solid $grayLight;
    margin-top: -1px;
    margin-left: -1px;
    background: transparent;
  }
  &__card_active {
    z-index: 50;
    border: 1px solid $mainAccent;
  }
  &__img {
    display: flex;
    justify-content: flex-end;
  }
  &__card img {
    width: 256px;
    height: 116px;
  }
  &__card:hover {
    z-index: 100;
    border: 1px solid $gray;
  }
  &__card:active {
    z-index: 100;
    border: 1px solid $mainAccent;
  }
  &__filter-container {
    display: flex;
    margin-top: 32px;
  }
}

@media (max-width: $tablet-width) {
  .model-page {
    width: 369px;
    &__card {
      width: 100%;
    }
  }
}

@media (max-width: $mobile-width) {
  .model-page {
    width: 100%;
    &__card {
      width: 100%;
    }
  }
}
