@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.orderList {
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  height: 100%;
  &__sub-header {
    @include textStyle(400, 29px, 33px, $grayBlue);
    margin-bottom: 30px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 386px;
    background: $white;
    box-shadow: 0px 2px 0px rgba(90, 97, 105, 0.11), 0px 4px 8px rgba(90, 97, 105, 0.12),
      0px 10px 10px rgba(90, 97, 105, 0.06), 0px 7px 70px rgba(90, 97, 105, 0.1);
    border-radius: 9px;
  }
  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__button-container {
    display: inline-flex;
    align-items: center;
  }
  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    border-radius: 9px 9px 0px 0px;
    background: $white;
    box-shadow: 0px -0.5px 0px #e0e2e8, 0px 0.5px 0px #e0e2e8;
    padding-left: 21px;
    padding-right: 21px;
  }
  &__applyButton {
    width: 110px;
    height: 29px;
    background: $blue;
    border: 0.5px solid $blue;
    box-sizing: border-box;
    border-radius: 4px;
    @include textStyle(400, 11px, 13px, $white, 'center');
  }

  &__filterButton {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 111px;
    height: 29px;
    padding: 0 11px 0 14px;
    background: $white;
    border: 1px solid #becad6;
    border-radius: 4px;
    @include textStyle(400, 11px, 13px, #868e96);
    margin-right: 15px;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 21px 14px 21px;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    box-shadow: 0px -0.5px 0px #e0e2e8, 0px 0.5px 0px #e0e2e8;
  }
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    label {
      display: flex;
      align-items: center;
      @include textStyle(400, 10px, 12px, $black, 'center');
      .orderList__checkbox {
        margin-right: 8px;
      }
    }
  }
  &__large-row {
    width: 300px;
    @include textStyle(400, 13px, 15px, #889098);
    span {
      @include textStyle(400, 13px, 15px, $black);
    }
  }

  &__small-row {
    width: 150px;
    @include textStyle(400, 13px, 15px, #889098);
    span {
      @include textStyle(400, 13px, 15px, $black);
    }
  }
  &__img {
    height: 63px;
    width: 138px;
  }
  &__order {
    width: 100%;
  }
  &__price {
    display: flex;
    width: 100px;
    align-items: center;
    @include textStyle(400, 24px, 28px, $black);
  }

  &__hr {
    width: 100%;
    color: #e0e2e8;
    background-color: #e0e2e8;
    height: 1px;
    opacity: 0.6;
  }
}
.orderButton {
  height: 24px;
  width: 71px;
  border: 1px solid #becad6;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-right: 4px;
  }
  @include textStyle(400, 11px, 13px, #5a6169, 'center');
  &__confirm {
    border-radius: 4px 0px 0px 4px;
    border-right: none;
  }
  &__change {
    border-radius: 0px 4px 4px 0px;
    border-left: none;
  }
}
.orderButton_disabled {
  pointer-events: none;
  background: $grayLight;
}
