@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.custom-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 928px;
  height: calc(100vh - 132px);
  &__text {
    @include textStyle(700, 20px, 25px, $black);
  }
}

@media (max-width: $mobile-width) {
  .custom-error {
    margin-top: 32px;
    height: 100%;
    &__text {
      margin-left: 16px;
    }
  }
}
