@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.order-page {
  display: flex;
  height: 100vh;
  flex: 0 1 1400px;
  justify-content: center;
  padding-top: 32px;
  &__wrapper {
    overflow-x: hidden;
    padding-left: 128px;
    padding-right: 64px;
    flex-direction: column;
  }
  &__header {
    position: sticky;

    top: 0px;
    background: $white;
    z-index: 50;
  }
  &__content {
    display: flex;
  }
}

@media (max-width: $tablet-width) {
  .order-page {
    &__wrapper {
      padding-right: 32px;
    }
  }
}

@media (max-width: $mobile-width) {
  .order-page {
    padding-top: 16px;
    &__wrapper {
      padding-left: 0px;
      padding-right: 0px;
    }
    &__content {
      flex-direction: column;
    }
  }
}
