@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.carList {
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  height: 100%;
  &__container {
    background: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 386px;
    background: $white;
    box-shadow: 0px 2px 0px rgba(90, 97, 105, 0.11), 0px 4px 8px rgba(90, 97, 105, 0.12),
      0px 10px 10px rgba(90, 97, 105, 0.06), 0px 7px 70px rgba(90, 97, 105, 0.1);
    border-radius: 9px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    width: 138px;
    height: 63px;
  }
  &__sub-header {
    @include textStyle(400, 29px, 33px, $grayBlue);
    margin-bottom: 30px;
  }
  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    border-radius: 9px 9px 0px 0px;
    background: $white;
    box-shadow: 0px -0.5px 0px #e0e2e8, 0px 0.5px 0px #e0e2e8;
    padding-left: 21px;
    padding-right: 21px;
  }
  &__content {
    display: flex;
    padding-left: 21px;
    padding-right: 21px;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    box-shadow: 0px -0.5px 0px #e0e2e8, 0px 0.5px 0px #e0e2e8;
  }
}

.carList__tab {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  max-width: 100%;
  th,
  td {
    padding: 10px 20px;
    @include textStyle(400, 11px, 13px, #3d5170);
    vertical-align: top;
  }

  th {
    @include textStyle(500, 12px, 14px, #3d5170);
    text-transform: uppercase;
  }
  tr:nth-child(even) {
    background: #edf7ff;
  }
  td span {
    display: none;
    text-transform: uppercase;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
