@import '../../../scss/variables.scss';

.sidebar{
    display: flex;
    width: 64px;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px 16px 15px 16px;
  
    &__burger-btn{
      background-color: inherit;
    }
    &__lang-btn{

      background-color: inherit;
      width: 48px;
      height: 48px;
    
      font-family: Roboto;
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      color: $mainAccent;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__lang-btn:hover{
      border: 1px solid $grayLight;
      box-sizing: border-box;
      border-radius: 50%;
      color: $grayLight;
    }

    &__lang-btn:active{
      color: $mainAccent
    }
    
    @media (max-width: 1023px){
      width: 85.77px;
    }

    @media (max-width: 767px){
      position: absolute;
      padding: 0;
      background-color: transparent;
      width: 33.5px;
      height: 33.5px;
      top: 16px;
      left: 16px;
 
      &__burger-image path{
        stroke: $black;
      }
      &__lang-btn{
        display: none;
      }

    
    }
}