@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.radio {
  display: inline-flex;
  margin-bottom: 8px;

  align-items: center;
  flex-direction: row-reverse;

  margin-right: 16px;
  @include textStyle(300, 14px, 16px, $gray);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    opacity: 0;
    cursor: pointer;
  }
  &__checkmark {
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid $gray;
  }
}

.radio:hover input ~ .radio__checkmark {
  background-color: #ccc;
}

.radio input:checked ~ .radio__checkmark {
  border: 3px solid $mainAccent;
}
