@mixin textStyle($font-weight, $font-size, $line-height, $color, $text-align: left){
    font-family: Roboto;
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    text-align: $text-align;
}

@mixin tr($x: 0px, $y: 0px) {
    transform: translateX($x) translateY($y);
}