//font-weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

//device-widths
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-min-width: 1439px;

//Colors
$mainAccent: #0EC261;
$black: #121212;
$white: #FFFFFF;
$gray: #999999;
$grayLight: #EEEEEE;