//font-weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

//device-widths
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-min-width: 1439px;

//Colors
$mainAccent: #0ec261;
$black: #121212;
$white: #ffffff;
$gray: #999999;
$grayLight: #eeeeee;
$grayBlue: #3d5170;
$grayDark: #495057;
$blue: #007bff;
